@import '@/styles/variables.scss';

.overlay {
    height: 100vh;
    background-color: rgba($color: $color-text-primary, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}

.modal-sm {
    width: 25vw;
}

.modal-bg {
    width: 38vw;
}

.modal-md {
    width: 30vw;
}

.modal-vb {
    width: 50vw;
}

.modal {
    background-color: $color-white;
    border-radius: 10px;

    &__header {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 32px 32px 24px 32px;
        border-bottom: 1px solid $color-border;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 700;
        color: $color-accent;
        

        &-cross {
            display: block;
            color: #A1A1A1;
            font-size: 30px;
            font-weight: 900;
            transition: all 0.5s;
            cursor: pointer;
            line-height: 0;
            margin-top: 5px;
            
            

            &:hover {
                color: $color-text-primary;
                transform: rotate(180deg);
            }
        }
    }

    &__body {
        padding: 24px 32px;
        display: grid;
        place-items: center; 
        font-size: 19px;
        font-weight: 500;
        color: $color-text-primary; 
    }

    &__footer {
        padding: 16px 28px;
        border-top: 1px solid $color-border;
    }
}

