@import '@/styles/variables';

.info-user-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid $color-border;
    border-radius: 16px;
    width: 100%;
    padding: 24px;
    gap: 24px;
    background-color: $color-white;

    &__avatar {
        height: 80px;
        width: 80px;
        color: $color-white;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-accent; 
        border-radius: 16px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        color: $color-text-secondary;
        flex: 1;
        &_name {
            font-size: 24px;
            font-weight: 700;
            color: $color-text-primary;
        }
        &_login {
            font-size: 14px;
            font-weight: 400;
        }
        &_date {
            font-size: 12px;
            font-weight: 500;            
        }
    }
    
}