* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F4F0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 330px;
}

body {
    overflow-y: scroll;
    scrollbar-gutter: stable;
    
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #E2E0D8;
;
}

body::-webkit-scrollbar-thumb:hover {
    background: #7A7669;
}

.separator-line {
    background-color: #E2E0D8;
    width: 100%;
    height: 1px;
}