.categories-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    &__main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px; 
        flex: 1;
        overflow-x: scroll;

        
        &::-webkit-scrollbar {
            height: 0;
        }
    }
}