@import '@/styles/variables.scss';
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border;
    padding: 24px 32px;
    
    &__text {
        color: $color-text-secondary;
        font-size: 14px
    }
}