@import '@/styles/variables';


.dropdown {
    position: absolute;
    background: $color-white;
    min-width: 220px;
    border-radius: 12px;
    border: 1px solid $color-border;
    z-index: 20;

    right: -3px;
    top: 100%;
    margin-top: 8px;


    &__header {
        text-align: left;
        color: $color-text-secondary;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 12px 16px;
        border-bottom: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_subtitle {
            color: $color-accent;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
        }
        
    }

    &__body {
        padding: 8px;
        padding-top: 0;
        max-height: 400px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba($color-border, 0.7) transparent;

        &_block-top {
            border-top: 1px solid $color-border;

        } 

        &_title {
            font-size: 12px;
            font-weight: 600;
            color: $color-text-secondary;
            text-align: left;
            margin: 8px 0 8px 2px;
        }

        &_option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 10px;
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            color: $color-text-secondary;
            border-radius: 8px;
            cursor: pointer;

            &-check {  
                display: none;
                align-items: center;
                justify-content: center;              
                width: 20px;
                height: 20px;
                color: $color-text-primary; 
                padding-bottom: 1px;
                font-size: 14px;
            }

        }

        &_option-active {
            color: $color-text-primary; 
            font-weight: 600;
            background: $color-background;

            .dropdown__body_option-check {
                display: flex;
            }
        }
    }
}