@import '@/styles/variables';

.filter-panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        background: $color-white;
        flex: 1;
        border: 1px solid $color-border;
        border-radius: 8px;
        padding: 9px 12px;

        input {
            flex: 1;
            font-size: 14px;
            border: none;
            outline: none;            
        }

        &_icon {
            margin-bottom: 3px;
        }
        &_cross {
            color: $color-text-secondary;
            font-weight: 900;
            font-size: 22px;
            cursor: pointer;

        }

        &:focus-within {
            border-color: $color-accent;
            box-shadow: 0 0 8px rgba($color: $color-accent, $alpha: 0.7);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        background: $color-white;
        border: 1px solid $color-border;
        border-radius: 8px;
        padding: 8px 14px;
        height: 41px;

        &_container {
            position: relative;

        }

        &_count {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: $color-accent;
            color: $color-white;
            font-size: 10px;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 0;
        }

        &-active {
            border-color: $color-accent;
            color: $color-accent;
            background-color: color-mix(in srgb, $color-accent 10%, transparent);

            path {
                color: $color-accent;
                
            }
        }
    }

    svg {
        width: 16px;
        height: 16px;
        color: $color-text-secondary;
    }
}

.filter-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    cursor: pointer;

    &_mark {
        font-size: 24px;
        font-weight: 600;
        line-height: 0;
    }
}