@import '@/styles/variables.scss';
.feature-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 10px;
    &__icon {
        width: 35px;
        height: 35px;
    }

    &__title {
        color: $color-text-primary;
        font-size: 18px;
        font-weight: 700;
    }

    &__desc {
        color: $color-text-secondary;
        font-size: 16px;
    }
}