@import '@/styles/variables';

.color-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 8px;
    color: $color-white;
    span {
        display: none;
    }
}

.color-btn-active {
    outline: 2px solid;
    outline-offset: 2px;
    transform: scale(1.15);
    span {
        display: block;
    }
}