@import '@/styles/variables.scss';

.task-info-card {
    height: 80px;
    width: 225px;
    padding: 14px;
    border-radius: 12px;
    background: #F5F4F0;
    border: 1px solid $color-border;

    &__title {
        text-transform: uppercase;
        color: $color-text-secondary;
        font-size: 12px;
    }

    &__body {
        margin-top: 8px;
    }
}