@import '@/styles/variables.scss';

.task-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 110px;
    background-color: $color-white;
    padding: 12px;
    border-radius: 12px;
    gap: 30px;
    cursor: pointer;    
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &__content {
        width: 85%;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: $color-text-primary;
    }

    &__subtitle {
        margin-top: 4px;
        color: $color-text-secondary;
        font-size: 14px;
        font-weight: 400;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    &__info {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    &__due-time {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: $color-text-secondary;
        font-size: 14px;
        font-weight: 400;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__due-time-expired {
        color: $color-red;
    }
    

    &__navigate {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
    }

    &:hover {
        box-shadow: 0px 4px 6px -1px rgba($color: $color-text-primary, $alpha: 0.2);
        transform: translateY(-5px);
        .task-card__navigate {
            display: flex;  
        }
    }
}

.completed-task {
    filter: brightness(92%);
    .task-card {
        &__title {
            text-decoration: line-through;
        }
    }
}

.icon-btn {
    padding: 4px;
    background: transparent;
    border-radius: 6px;
    border: none;
    transition: color 0.4s background 0.4s visibility 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    color: $color-text-secondary;
    svg {
        width: 16px;
        height: 16px;
    }


    &:hover {
        color: $color-text-primary;
        background: $color-border;
    }
    
    &-red:hover {
        color: $color-red;
        background: color-mix(in srgb, $color-red 10%, transparent);
    }

}
