@import '@/styles/variables.scss';

.info-card {
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: 12px;
    height: 100px;
    width: 280px;
    padding: 16px;

    &__title {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-text-secondary; 
    }

    &__content {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;

        span {
            color: $color-green;
            font-size: 14px;
            font-weight: 500;
        }

    }
}