@import './variables.scss';

.account-btns__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    svg {
        height: 17px;
        width: 15px;
    }
}
.account-page {
    padding-top: 40px;
    padding-bottom: 40px;

}