@import '@/styles/variables';

.not-found-page {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        &_code {
            color: $color-accent;
            font-weight: 700;
            font-size: 145px;            
        }

        &_title {
            font-weight: 700;
            font-size: 30px;
            color: $color-text-primary;
        }

        &_subtitle {
            font-size: 17px;
            color: $color-text-secondary;
        }
    }

}