@import './variables.scss';

.container-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    background: $color-white;
    padding-top: 64px;
    padding-bottom: 64px;
}